@charset "UTF-8";
.habilidades_contenedor {


}



#new{margin: 50px 50px 0px 0px;
	float: right;
}

#new ul{ list-style: none;}
#new ul li{
	position: relative;
	overflow: hidden;
	margin-left: 40px;
	float: left;

	width: 130px;
	height: 130px;
	border-radius: 130px;
}
#new ul li img{
	height: 130px;
	width: 130px;
	position: absolute;
	transition: all 0.5s;
}
#new ul li img:hover{
	opacity: 0.5;

}


.link{
	margin: 5px 0px 0px 0px;
	float: left;
}


#candyRoom {
	top : 0px;
	left : 0px;
	z-index: 1000;
	position: absolute;
	background-color: rgba(30, 30, 30, 0.0);
 }
 /*width*/
#codeconSkills {
font-size: 15px;
height: auto;
margin: 0 auto;
padding: 8px 0px;
vertical-align: bottom;
width: 300px;
}

/*이거
line-height:
font-size: 16px;
*/
#codeconSkills p{color: #333333; position:absolute; z-index: 999999; line-height: 30px; margin-left: 25px; font-size: 14px; }
#codeconSkills img {
width: 50px;
height:50px;

position: absolute;
right: -70px;
display: none;
}
 /*이거
 height: 30px;
 */
.codeconSkillbar {
width: 100%;
height: 30px;
position: relative;
background: rgba(17, 17, 17, .3);
/*margin: 20px 0;*/
border-radius: 25px;
}
#codeconHTML {
width: 100%;
animation: Animate-HTML 4s;
-webkit-animation: Animate-HTML 4s;
-moz-animation: Animate-HTML 4s;
-o-animation: Animate-HTML 4s;
height: 50px;
position: absolute;
background-color: #ea8564;
}
@keyframes Animate-HTML {
from {
width: 10px;
}
to {
width: 100%}
}@-webkit-keyframes Animate-HTML {
from {
width: 10px;
}
to {
width: 100%}
}@-moz-keyframes Animate-HTML {
from {
width: 10px;
}
to {
width: 100%}
}@-o-keyframes Animate-HTML {
from {
width: 10px;
}
to {
width: 100%}
}
#codeconCSS {
animation: Animate-CSS 5s;
-webkit-animation: Animate-CSS 5s;
-moz-animation: Animate-CSS 5s;
-o-animation: Animate-CSS 5s;
width: 70%;
height: 50px;
position: absolute;
background-color: #55a69f;
}
@keyframes Animate-CSS {
from {
width: 10px;
}
to {
width: 70%}
}@-webkit-keyframes Animate-CSS {
from {
width: 10px;
}
to {
width: 70%}
}@-moz-keyframes Animate-CSS {
from {
width: 10px;
}
to {
width: 70%}
}@-o-keyframes Animate-CSS {
from {
width: 10px;
}
to {
width: 70%}
}
#codeconjQuery {
animation: Animate-jQuery 5s;
-webkit-animation: Animate-jQuery 5s;
-moz-animation: Animate-jQuery 5s;
-o-animation: Animate-jQuery 5s;
width: 50%;
height: 50px;
position: absolute;
background-color: #99856d;
}

 /*이거도
height: 30px;
 */
.skillBar {
	width: 5%;
	height: 30px;
	position: absolute;
	background-color: transparent;
	transition: 3s;
	-webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
   border-radius: 25px;
}

@keyframes Animate-jQuery {
from {
	width: 10px;
}
to {
	width: 50%}
}
@-webkit-keyframes Animate-jQuery {
	from {
		width: 10px;
	}
	to {
		width: 50%
	}
}
@-moz-keyframes Animate-jQuery {
	from {
		width: 10px;
	}
	to {
		width: 50%
	}
}
@-o-keyframes Animate-jQuery {
	from {
		width: 10px;
	}
	to {
		width: 50%
	}
}
#codeconCakePHP {
	animation: Animate-CakePHP 5s;
	/*-webkit-animation: Animate-jQuery 5s;
	-moz-animation: Animate-jQuery 5s;
	-o-animation: Animate-jQuery 5s;*/
	width: 60%;
	height: 50px;
	position: absolute;
	background-color: #2f96b4;
}

@keyframes Animate-CakePHP {
from {
		width: 10px;
}
to {
		width: 60%
	}
}


.codeconSkillArea {
z-index: 1;
float: left;
//position: absolute;
margin-top: 15px;
margin-left: 0px;
text-shadow: none;
color: #fff;
//font-family: Lato-Regular, sans-serif;
font-size: 18px;
}
.PercentText {
z-index: 3;
position: relative;
padding-right: 15px;
margin-top: 15px;
float: right;
text-shadow: none;
color: #fff;
//font-family: Lato-Regular, sans-serif;
font-size: 18px;
}
